# --- Nginx ---
NGINX_PORT=8080
NGINX_SSL_PORT=8443

# --- PostgreSQL ---
POSTGRES_DB=transcendence
POSTGRES_USER=transcendence
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432
# postgres-exporter
POSTGRES_MONITORING_PASSWORD=changeme

# --- Grafana ---
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=changeme

# --- ELK ---
ELK_VERSION=8.17.4
# Compte super-admin built-in "elastic" (non supprimable) 
ELASTIC_PASSWORD=changeme
# Compte technique de Kibana vers Elasticsearch
KIBANA_SYSTEM_PASSWORD=changeme
# Compte humain pour se connecter a Kibana : kibana_user 
KIBANA_USER_PASSWORD=changeme
# Compte d'ecriture de Logstash (transcendence-logs*)
LOGSTASH_INTERNAL_PASSWORD=changeme
# elasticsearch-exporter (lecture seule des stats)
ES_MONITORING_PASSWORD=changeme
# Cle de chiffrement des objets Kibana (32 caracteres minimum)
KIBANA_ENCRYPTION_KEY=changeme_changeme_changeme_change
