# allow to proxify for grafana websocket 
map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}

server {
    listen 80;
    server_name _;
    return 301 https://$host:${NGINX_SSL_PORT}$request_uri;
}
server {
    listen 443 ssl;
    http2 on;
    server_name _;

    ssl_certificate     /etc/nginx/certs/cert.pem;
    ssl_certificate_key /etc/nginx/certs/key.pem;

    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;
    ssl_session_cache   shared:SSL:10m;
    ssl_session_timeout 10m;

    root  /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    # Grafana, servi en sous-chemin. Grafana est configure avec
    # GF_SERVER_SERVE_FROM_SUB_PATH=true donc on garde le prefixe /grafana/.
    location /grafana/ {
        proxy_pass http://grafana:3000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgradee
        proxy_set_header Connection $connection_upgrade;
    }
}

# intern location for nginx-exporter
server {
    listen 8081;
    server_name _;

    location /stub_status {
        stub_status;
    }
}
